body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    margin: 0;
}
header h1 {
    padding-top: 19px;
    padding-bottom: 39px;
    margin: 0;
    padding-left: 13px;
}
.box {
    background-color: white;
    position: fixed;
    top: 0;
    height: 70%;
    width: 100vw;
    border-radius: 1rem;
}
.search {
    background: rgba(235, 87, 87, 0.9);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    border: none;
    padding: 1rem 1rem 1rem 2rem;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 380px;
    left: 36%;
}
.search svg {
    position: absolute;
    top: 15px;
    left: 11px;
}
form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 400px;
    margin: auto;
    padding: 1rem;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}
header form select {
    -webkit-appearance: none;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    padding-right: 10px;
}
input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
}
header form input {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #BDBDBD;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
}
header form button {
    padding-left: 10px;
}
.container {
    padding-left: 12px;
    padding-right: 12px;
}
.container img {
    max-width: 100%;
    border-radius: 24px;
}
.popup_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.popup_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}
.lists ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}
.lists ul li:first-of-type ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper_main {
    display: flex;
    flex-direction: column;
}
.main ul {
    padding-left: 12px;
    padding-right: 12px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    padding-top: 35px;
    
}
li {
    list-style: none;
}
.main ul li h2 {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.main ul li p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;
}
main {
    padding-top: 35px;
}
@media (min-width: 720px) {
    body {
        max-width: 90%;
        margin: auto;
    }
    header {
        padding-top: 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    header h1 {
        padding-left: 0;
        padding-top: 0;
    }
    main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }
}

