body {
    margin: 0;
}
header h1 {
    padding-left: 13px;
    padding-top: 19px;
    margin: 0;
}
header form {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}
header form select {
    border: none;
}
input:focus, textarea:focus, select:focus {
    outline: none;
}
header form input {
    /* font-family: Mulish; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #BDBDBD;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
}
.container {
    padding-left: 12px;
    padding-right: 12px;
}
.container img {
    max-width: 100%;
    border-radius: 24px;
}

.wrapper_main {
    display: flex;
    flex-direction: column;
}

@media (min-width: 720px) {
    body {
        max-width: 90%;
        margin: auto;
    }
    header {
        padding-top: 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    header h1 {
        padding-left: 0;
        padding-top: 0;
    }
    .wrapper_main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }
}

